body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.creators {
  /* min-height: 750px; */
  position: relative;
  /* top: -45px; */
  padding-bottom: 50px;
  margin-top: -40px;
  background: black;
}
.creators p {
  position: relative;
  top: 80px;
  line-height: 81px;
  text-align: center;
  z-index: 1;
  font-size: 64px;
  /* width: 400px; */
        /* background: -webkit-linear-gradient( #c31432 0%, #240b36 74%); */
        background:  linear-gradient(to bottom,rgba(195,20,50,1) 0%, rgba(36,11,54,1) 74%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    /* color: rgb(87, 32, 32); */
    font-family: 'Avengeance Heroic Avenger Italic';
  
  }
.creators::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
   
      width: 100%;
    height: 100%;
    /* background: linear-gradient(#071e68,#3198d4); */
    background:  linear-gradient(147deg, #c31432 0%, #240b36 74%);

    clip-path: circle(40% at right 70%); 
  }
  
  .creators::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(#f00,#f0f); */
    background:  linear-gradient(147deg, #c31432 0%, #240b36 74%);

    clip-path: circle(30% at 10% 10%);
}
.container1 {
  position: relative;
  display: flex;
  margin-top: 95px;
   flex-wrap: wrap;
  z-index: 1;
  justify-content: center;
  align-items: center;
 
}
.content img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.container1 .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);

  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.container1 .card .content {
  margin-top: 40px;
  padding: 36px;
  text-align: center;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.7;
  /* transform: perspective(100px) translateZ(0px);
  transition: 1s; */
  /* transform: translateY(100px); */
  transition: 0.5s;
}
.container1 .card:hover .content {
  transform: translateY(-20px);
  opacity: 1;
  /* transform: perspective(100px) translateZ(10px); */
}

.container1 .card .content h3 {
  font-size: 1.8rem;
  /* color: white; */
  color: rgba(195,20,50,1);


  margin: 15px;
  z-index: 1;

  /* font-family: "Bree Serif", serif; */
  font-family: "Courgette", cursive;
  font-weight: lighter;
  /* font-family: "Lobster", cursive; */
}
.container1 .card .contentBx {
  margin: -40px;
}

.contentBx ul li {
  list-style: none;
  transform: translateY(50px);
  opacity: 0;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
}
.container1 .card:hover .sci li {
  transform: translateY(0px);
  opacity: 1;
}
.sci {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
ul li a {
  padding: 15px;
  /* color: white; */
  color: rgba(195,20,50,1);
  font-size: 25px;
}
