@font-face {
  font-family: 'Avengeance Heroic Avenger Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Avengeance Heroic Avenger Italic'), url('AVENGEANCE HEROIC AVENGER AT.woff') format('woff');
  }

body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.home{
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  /* background:url(../images/avengers_3.jpg) ; */
  background-image:linear-gradient(rgba(36,0,70,0.5), rgba(36,0,70,0.5)), url(../images/avengers_3.jpg);
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#text {
  
  position: absolute;
  top: 50%;
  left: 34%;
  transform: translate(-50%, -50%);
  animation:  0.5s linear 0s slide forwards;
}
#text h1 {
  font-family: 'Avengeance Heroic Avenger Italic';
  
  color: rgb(255, 255, 255);
  font-size: 4.1vw;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em #b6c0bf;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
animation:shake 2.5s infinite, shine 2s forwards,flicker 3s infinite;
  
}

@keyframes slide {
  from {  top: 1px; }
  40%{
    top:20%
  }
  70%{
    top:40%;
  }
  90%{
    top:50%;
    bottom:65%;
  }
  to {  top: 50%;
    }
}
@keyframes shake {
  5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
      filter: blur(0.018em);
      transform: translateY(0.018em) rotate(0deg);
  }

  10%, 30%, 40%, 50%, 70%, 80%, 90% {
      filter: blur(0.01em);
      transform: translateY(-0.018em) rotate(0deg);
  }

  20%, 60% {
      filter: blur(0.03em);
      transform: translate(-0.018em, 0.018em) rotate(0deg);
  }

  45%, 85% {
      filter: blur(0.03em);
      transform: translate(0.018em, -0.018em) rotate(0deg);
  }

  100% {
      filter: blur(0.007em);
      transform: translate(0) rotate(-0.5deg);
  }
}


@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #fff8f8;
  }
  28%,
  33% {
    color: #a3a3a3;
    text-shadow: none;
  }
  82%,
  97% {
    color: #747474;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}


@keyframes shine {
  0% {
    color: #979797;
    text-shadow: none;
  }
  100% {
    color: #fdfdfdc8;
    
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}




