@font-face {
  font-family: "Avengeance Heroic Avenger Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Avengeance Heroic Avenger Bold Italic"),
    url("AVENGEANCE HEROIC AVENGER BI.woff") format("woff");
}
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

/* main avengers div */
.OVERVIEW {
  display: flex;
  flex-direction: column;
  /* border: 3px solid black; */
  /* justify-content: center; */
  align-items: center;
   /* height: 550px; */
  /* background: linear-gradient(rgba(195, 20, 50, 0.7) 0%, rgba(36, 11, 54, 0.7) 74%); */
  background: rgba(195,20,50, 0.4);
  
}
.overview h2 {
  font-size: 75px;
  background: linear-gradient(rgba(195, 20, 50, 1) 0%, rgba(36, 11, 54, 1) 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
   /* color: white; */
  font-family: "Avengeance Heroic Avenger Italic";
  text-align: center;
  margin: 0;
  margin-top: 70px;
}

.information {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 70px;
  padding-left: 13px;
  padding-right: 13px;
  line-height: 1.7vw;
  word-spacing: 1px;
  
}
.overview p {
  margin: 0;
}
.mainLine p {
  text-align: center;
  margin-top: 25px;
  font-family: "Fira Sans", sans-serif;
  font-size: 24px;
  margin-top: 20px;
}

.overviewinfo {
  display: flex;
  font-family: "Fira Sans", sans-serif;
}
