.stones{
    position: absolute;
    top: 70px;
    margin: 0px;
    padding: 0;
    /* background: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stones .heading h2 {
    font-size: 80px;
    width: 450px;
    line-height: 120px;
          /* background: -webkit-linear-gradient( #c31432 0%, #240b36 74%); */
          background:  linear-gradient( rgba(195,20,50,1) 0%, rgba(36,11,54,1) 74%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
      /* color: rgb(87, 32, 32); */
      font-family: 'Avengeance Heroic Avenger Italic';
      margin: 0;
      }
  
  
  
.ball{
    position: relative;
       justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
   height: 700px;
   background: white;
   /* border: 2px solid green; */
   
}
.box{
    position: relative;
   margin: 30px;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}
.box:hover{
    animation-play-state: paused;
}
@keyframes animate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}
.box div{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)* 59deg)) translateZ(300px);
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);
}


.box div img{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    object-fit: cover;
}
.box img{
    filter: grayscale(0.5);
    cursor: pointer;
    transition: all .5s ease;
    width: 90%;
}
.box img:hover{
    filter: grayscale(0);
    transform: scale(1.2,1.2);
}
.videobg {
    height: 500px;
    position: relative; /* requires for to position video properly */
  } 
  
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    object-fit: cover; /* combined with 'absolute', works like background-size, but for DOM elements */
  }

  #changeVideo {
    position: relative;
    color: #000;
    text-align: center;
    top: 42%;
    width:max-content ;
    left: 44% ;
    
  }
  #btn{
    padding: 12px;
    background-color:transparent;
    border-radius: 15px;
    animation: buttonfade 12s ease forwards infinite;
  }
  #changeVideo a {text-decoration: none; background-color: none; color:black ;font-weight: bold; font-size: 1rem; }

  #btn:hover{
      background-color:white;
      animation-play-state: paused;
  }

@keyframes buttonfade{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}