@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

.villains .vilHead h2 {
    font-size: 4rem;
  width: 500px;
         
        background:  linear-gradient( rgba(195,20,50,1) 0%, rgba(36,11,54,1) 74%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    /* color: white; */
    font-family: 'Avengeance Heroic Avenger Italic';
    margin: 0;
    margin-top: 40px;
  
  
}
.villains {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border: 2px solid rgb(236, 11, 11);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 700px;
 
  /* background: linear-gradient(rgba(195, 20, 50, 0.7) 0%, rgba(36, 11, 54, 0.7) 74%); */
  background: rgba(195, 20, 50, 0.4);

}
.villains-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 4px solid black; */
  flex-wrap: wrap;
  position: relative;
}
.villains-box .vilCard {
  height: 350px;
  width: 250px;
  /* border: 4px solid red; */
  margin: 20px;
  position: relative;
}
.villains-box .vilCard .shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    transition: 0.5s;
}

.villains-box .vilCard:hover .shapes{
  transform: translateY(-30px);
}
.villains-box .vilCard .shapes img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

.villains-box .vilCard .shapes .names{
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(45deg,rgba(195,20,50,0.8),rgba(36,11,54,0.8));
 
  color: white;
  opacity: 0;
  transition: 0.5s;
}
.villains-box .vilCard:hover .shapes .names{
  opacity: 1;
}
.villains-box .vilCard .shapes .names p{
  /* font-family: "Bree Serif", serif; */
  font-family: "Fira Sans", sans-serif;
  font-size: 3.5rem;
  margin: 0;
 
}
.villains-box .vilCard .shapes .names a{
  padding: 5px;
}
.villains-box .vilCard .shapes .names button{
  border-radius: 20px;
  border-color: white;
  padding: 10px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
}
 .read{
  color: black;
  font-size: 2rem;
  font-family: "Fira Sans", sans-serif;
}
.read a{
  border: 2px solid black;
  border-radius: 35px;
  /* background: linear-gradient(to top, #000046, rgb(28,181,224)); */
  background: linear-gradient(45deg,rgba(195,20,50,1),rgba(36,11,54,1));
 
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 10px;
}

.read a:hover{
  background: linear-gradient(45deg,rgba(36,11,54,1),rgba(195,20,50,1));

}

